<%- include('./partials/_header') %>

    <div class="flex flex-col bg-gray-100 justify-center">

        <section>
            <div class="container mx-auto mt-32 flex px-5 mb-10 max-w-screen-lg ">
                <div class="grid w-full" >


                   <% if(post) { %>
                    <div class="group cursor-pointer">
                        <div class="relative z-0 mx-auto aspect-video max-w-screen-lg overflow-hidden lg:rounded-lg "><a
                                class="relative block aspect-video" href="#">
                                <img src="<%= post.post_thumbnail %>"
                                    alt="Thumbnail" fetchpriority="high" decoding="async" data-nimg="fill"
                                    class="object-cover transition-all"
                                      style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                                    sizes="(max-width: 768px) 30vw, 33vw"></a>
                        </div>
                        <div class="">
                            <div>
                                <div class="flex gap-3">
                                    <a href="/category-post/<%= post.category_id %>"
                                    class="inline-flex items-center mb-3 font-medium mt-5 text-teal-600 hover:text-teal-800"
                                    title="read more"> <%- post.category_title %> » 
                                </a>
                                </div>
            
                                <div class="title-font sm:text-2xl text-xl mb-4 font-medium text-gray-900 tracking-tight">
                                    <div>
                                        <span class="bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_10px] bg-left-bottom bg-no-repeat 
                                            transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]
                                             dark:from-teal-400 dark:to-teal-300"><%- post.post_title %></span>
                                    </div>
                                </div>
                                
         
                                    <div class="text-gray-500 text-xl dark:text-gray-400">
                                        <%- post.post_content %>
                                    </div>
                           

                                <div class="mt-3 flex items-center space-x-3 text-gray-500 dark:text-gray-400">
                                    <a href="#">
                                        <div class="flex items-center gap-3">
                                            <div class="relative h-8 w-8 flex-shrink-0">
                                                   <img alt="Mario Sanchez" loading="lazy"
                                                    decoding="async" 
                                                    data-nimg="fill" 
                                                    class="rounded-full object-cover "
                                                    src="<%= post.author_avatar %>">
                                            </div><span class="truncate text-sm"><%- post.author %></span>
                                        </div>
                                    </a>
                                    <% 
                                        const data = new Date(post.post_data); 
                                        const formatData = data.toLocaleString('pt-BR', { 
                                            day: '2-digit', month: '2-digit', year: 'numeric', 
                                            hour: '2-digit', minute: '2-digit', second: '2-digit' 
                                        });
                                    %>
                                <span class="text-xs text-gray-300 dark:text-gray-600">•</span>
                                <time class="truncate text-sm" datetime=><%- formatData %></time>
                                </div>

                            </div>
                        </div>
                    </div>
                  
                     <% } %>
            
                
                </div>
            </div>
        </section>















<%- include('./partials/_footer') %>